<html>
  <head>
    <title>IdeaBox</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <%= yield %>

    <footer>&copy <%= Time.now.year %> Robinson Corp.</footer>
  </body>
</html>
